<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find nullspace_obst_avoidance)/control/kuka_velocity_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/kuka_lwr" args="joint0_velocity_controller
    joint1_velocity_controller
    joint2_velocity_controller
    joint3_position_controller
    joint4_velocity_controller
    joint5_velocity_controller
    joint6_velocity_controller
    joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/kuka_lwr/joint_states" />
  </node>

</launch>
